/* Import Custom Font */
@font-face {
    font-family: 'CustomFont';
    src: url('Font.otf') format('opentype');
}

/* General Styles */
body {
    font-family: 'CustomFont', sans-serif;
    background-color: #ffffff;
    color: #000000;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: sans-serif;
    color: #ffffff;
    margin: 0;
}
p {
    font-family: sans-serif;
    color: #000000;
    margin: 0;
}

h2 {
    font-family: 'CustomFont', sans-serif;
    margin: 0;
}

/* Home Page */
#home {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('images/redBg.png') no-repeat center center/cover;
    overflow: hidden;
}

.title-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.title-container h1 {
    position: absolute;
    font-size: 5em;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-family: 'CustomFont', sans-serif;
    opacity: 1;
}

/* Initial titles */
#title-section {
    top: 40%;
    animation: sectionMove 3s forwards;
}

#title-wars {
    top: 60%;
    animation: warsMove 3s forwards;
}

/* Combined title */
#title-section-wars {
    top: 10%;
    opacity: 0;
    transform: translateX(-50%);
    animation: fadeInCombinedTitle 1s forwards;
    animation-delay: 3s;
}

/* Enter Button Styles */
#enter-button {
    opacity: 0;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5em;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #680028;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    pointer-events: none;
    transition: opacity 1s;
    animation: fadeInButton 1s forwards;
    animation-delay: 4s;
}

/* Animation Keyframes */
@keyframes sectionMove {
    0% {
        transform: translate(-150%, 0);
        opacity: 1;
    }
    70% {
        transform: translate(-50%, 0);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, 0);
        opacity: 0;
    }
}

@keyframes warsMove {
    0% {
        transform: translate(50%, 0);
        opacity: 1;
    }
    70% {
        transform: translate(-50%, 0);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, 0);
        opacity: 0;
    }
}

@keyframes fadeInCombinedTitle {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInButton {
    to {
        opacity: 1;
        pointer-events: auto;
    }
}

/* Navigation Bar */
#section-nav {
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    animation: fadeInNav 1s forwards 4s;
    transition: background-color 0.3s ease;
}

@keyframes fadeInNav {
    to {
        opacity: 1;
    }
}

#section-nav .navbar-nav .nav-link {
    color: #b7094c;
    font-size: 1em;
    transition: background-color 0.3s, color 0.3s;
}

#section-nav .navbar-nav .nav-link:hover {
    background-color: #f7ccdc;
    color: #b7094c;
}

/* Navbar Transparent Styles */
.navbar.navbar-transparent {
    background-color: transparent !important;
    border: none;
    box-shadow: none;
}

.navbar.navbar-transparent .navbar-nav {
    display: none !important;
}

.navbar.navbar-transparent .navbar-brand {
    color: #b7094c !important;
    margin-left: 20px;
}

.navbar.navbar-transparent .navbar-toggler {
    display: block !important;
    margin-right: 20px;
}

.navbar.navbar-transparent {
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Ensure toggler icon is visible */
.navbar.navbar-transparent .navbar-toggler-icon {
    background-image: url('images/burger.png') !important;
    background-size: contain;
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
}

.navbar.navbar-transparent .navbar-collapse.show {
    background-color: #eedee4;
}

.navbar.navbar-transparent .navbar-collapse.show .navbar-nav {
    display: block !important;
}

/* Hide the navbar-toggler on larger screens when not minimized */
@media (min-width: 992px) {
    .navbar .navbar-toggler {
        display: block !important;
        margin-right: 20px;
    }
    #section-nav.navbar-transparent {
        background-color: #ffffff !important; /* or any other color for contrast */
    }
}
.navbar-brand {
    color: #b7094c;
}

/* Adjust brand and toggler alignment */
.navbar.navbar-transparent .navbar-brand {
    margin-left: 20px;
}

.navbar.navbar-transparent .navbar-toggler {
    margin-right: 20px;
}

/* Section Content */
.section-content {
    min-height: 100vh;
    display: flex;
}

.section-content .row.no-gutters {
    flex-grow: 1;
}

.section-story {
    padding: 20px;
    background-color: #ffffff;
    font-family: sans-serif;
    overflow-y: auto;
    flex: 63;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-icon {
    max-width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.image-slider {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    flex: 37;
    border: 2px solid #000;
    box-sizing: border-box;
}

/* Swiper Slides */
.image-slider .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: #000;
}

/* Swiper Navigation Buttons */
.swiper-button-next,
.swiper-button-prev {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.swiper-button-next {
    right: 10px;
}

.swiper-button-prev {
    left: 10px;
}

/* Customize the navigation icons */
.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 20px;
    font-weight: bold;
}

/* Use Font Awesome icons */
.swiper-button-next::after {
    content: '\f054';
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
}

.swiper-button-prev::after {
    content: '\f053';
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
}

/* Swiper Pagination Bullets */
.swiper-pagination-bullet {
    background: #fff;
    opacity: 0.7;
}

.swiper-pagination-bullet-active {
    opacity: 1;
}

/* Ensure Swiper container fills its parent */
.swiper {
    width: 100%;
    height: 100%;
}

/* Event Page Styles */

/* Event Section */
.event-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #111;
    color: #fff;
}

/* Event Banner */
.event-banner {
    height: 30vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    text-align: center;
    overflow: hidden;
}

.event-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image fills the area without distortion */
    object-position: center;
}

#event-title {
    position: absolute;
    font-family: 'CustomFont', sans-serif;
    font-size: 3em;
    color: #ffffff;
    text-shadow: 2px 2px 8px #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

/* Event Details */
.event-details {
    height: 70vh;
    font-family: sans-serif;
    padding: 20px;
    overflow-y: auto;
    background-color: #ffffff;
}

.event-details h2 {
    font-size: 2em;
    margin-bottom: 15px;
}

.event-details p {
    font-size: 1.2em;
    line-height: 1.6em;
}

/* Enter the Challenge Button for Event 1 */
#enter-challenge-button {
    display: none; /* Initially hidden */
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5em;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #b7094c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.3s;
}

#enter-challenge-button.show {
    display: block; /* Show the button when it is Event 1 */
    opacity: 1;
}


/* Navigation Buttons */
.event-navigation {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.nav-button {
    background: rgba(0, 0, 0, 0.7);
    border: none;
    color: #fff;
    font-size: 2em;
    cursor: pointer;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s;
}

.nav-button:hover {
    background: rgba(114, 19, 19, 0.8);
}

.left-button {
    position: absolute;
    left: 10px;
}

.right-button {
    position: absolute;
    right: 10px;
}

/* Responsive Adjustments */
@media (max-width: 767px) {
    .section-content {
        flex-direction: column;
    }

    .section-icon {
        max-width: 150px;
    }

    .section-story,
    .image-slider {
        width: 100%;
        height: auto;
        flex: none;
    }

    .image-slider .swiper-slide img {
        height: auto;
    }

    .title-container h1 {
        font-size: 3em;
    }
    #title-section {
        top: 35%;
    }
    #title-wars {
        top: 55%;
    }
    #title-section-wars {
        top: 10%;
    }

    #enter-button {
        font-size: 1.2em;
        padding: 8px 16px;
        bottom: 15%;
    }

    #event-title {
        font-size: 2.5em;
    }

    .event-details p {
        font-size: 1em;
    }

    .nav-button {
        width: 50px;
        height: 50px;
        font-size: 1.5em;
    }
}


@media (max-width: 600px) {
    .title-container h1 {
        font-size: 2em;
    }
    .section-story {
        padding: 10px;
    }
    #section-nav .navbar-nav .nav-link {
        font-size: 0.9em;
    }
    .event-banner img {
       /* width: 100%;*/
        height: auto;
    }
    .nav-button {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 480px) {
    .section-icon {
        max-width: 120px;
    }
}
#home {
    transition: background-image 1s ease-in-out;
}
#home {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('images/redBg.png') no-repeat center center/cover;
    overflow: hidden;
    transition: background-image 1s ease-in-out;
}

#home.bg-responsive {
    background-image: url('images/bg2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; /* Ensures the image maintains its aspect ratio */
}
